/* ################## GENERAL ############################*/

.body {
	background-color: #B5CbCd;
	color: #1B2518;
	
   font-family: Georgia, serif;

}

#edit-container {
   background-color: inherit;
	
}

.banner {
background-color: inherit;
text-align: center;
	}
#imgBox {
	border:3px solid #1B2518;
	border-bottom: 15px solid #1B2518;
}
.btn-custom {
	
	background-color: #3b2640;
	
	color:  		  #B5CbCd !important;
	border-color:	  #B5CbCd;
}
.btn-custom:hover {
	
	background-color: #60553e;
	color: white;
}

.form-control{
	margin: 2px;
}
.border-box {
border: 1px dashed gray;

}
.text-container {

border: 2px dashed gray;
height: 200px;
}

.margin-bottom {
margin-bottom: 10px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

/* ############################ edit page styling #######################################*/

/*banner section*/
.chapter-menu-box, .node-menu-box, .chapter-menu-box-right, .node-menu-box-right {
	background-color: inherit;
	padding: 6px 6px;

}
.node-menu-box-right, .chapter-menu-box-right {
	text-align:right;
}

.chapter-relation-button, #chapter-select-for-nodes-button {
	margin:2px;
}
.relation-chapter-button-selected {
	
	background-color:#60553e;
	border:2px solid pink;
	
}
/* hide all dynamic elements */
#create-chapter-space, #edit-chapter-space, #delete-chapter-row, 
#create-node-space, #edit-node-space, #delete-node-row, 
#menu-chapter, #menu-node, #crud-state-space {
	display: none;
}
/* editing elements*/
.chapter-relation-box, .node-relation-box, #delete-chapter-box, #create-chapter-box, #edit-chapter-box,
#edit-node-box, #create-node-box, #delete-node-box, #crud-state-box {
	border: 2px dashed #28385a;
	margin: 3px;
	padding:3px;
}

/* show graph section*/
/* deprecated?*/
#graphic-space {
	display: none;
	position:absolute;
	border: 0px solid green;
	border-radius: 10px;
	width: 90%;
	height: 90%;
	opacity: .7;
}
#svg-graph-box {
	border: 2px solid blue;

}
/*display current chapter boldly and a nice color */
#current-chapter {
	color: #3b2640;
	font-weight: bold;	
}

/* ################################################################################# */
/* ### play page ###*/

.info-heading {
	
	color: #3b2640;
	font-size:14pt;	
}